/* General */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Inicio */
#inicio {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo del texto */
.container {
    font-weight: bold;
    position: relative; /* Necesario para usar pseudo-elementos */
    overflow: hidden; /* Oculta el exceso del efecto */
}

/* Sobre mí */
#sobre-mi {
    background: linear-gradient(to right, #343a40, #343a40);
    background-color: #f8f9fa;
    padding: 60px 0;
    color: white;
}

/* Proyectos */
#proyectos {
    background: linear-gradient(to right, #007bff, #0056b3);
    padding: 60px 0;
}

.mb-4 {
    color: white;
}

.row {
    display: flex; /* Activa Flexbox */
    justify-content: space-between; /* Espacio entre los div */
    flex-wrap: nowrap; /* Evita que los div se muevan a una nueva línea */
}

#proyectos .row > div {
    background: white;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Contacto */
#contacto {
    padding: 60px 0;
    background-color: #343a40;
    color: white;
}

#contacto a {
    color: #ffc107;
    text-decoration: none;
}
